version: '3.7'

services:
  searxng:
    container_name: searxng
    image: searxng/searxng:latest
    restart: always
    ports:
      - "8088:8080"
    volumes:
      - ./settings_custom.yml:/etc/searxng/settings.yml
    environment:
      - BASE_URL=http://localhost:8088/
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    depends_on:
      - valkey

  valkey:
    container_name: valkey
    image: valkey/valkey:8
    command: valkey-server --save "" --appendonly "no"
    tmpfs:
      - /var/lib/valkey
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
